.container-full-width {
    width: 100%!important;
    padding-top:20px;
}

@media (min-width: 1200px) {
    .container {
        width: 1300px;
    }
}

.shadow {
    width: 100%;
    height: 168px;
    position: relative;
    margin-top: -110px;
    background: transparent url(../images/shadow.png) no-repeat bottom center;
    background-size: 100% 100%; /* stretches it */
    z-index: -1;
    display: none;
}

.sb-description h3 {
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.sb-description h3 a {
    color: #4a3c27;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.nav-arrows {
    display: none;
}

.nav-arrows a {
    width: 42px;
    height: 42px;
    background: #cbbfae url(../images/nav.png) no-repeat top left;
    position: absolute;
    top: 50%;
    left: 2px;
    text-indent: -9000px;
    cursor: pointer;
    margin-top: -21px;
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

.nav-arrows a:first-child {
    left: auto;
    right: 2px;
    background-position: top right;
}

.nav-arrows a:hover {
    opacity: 1;
}

.nav-dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    height: 30px;
    width: 100%;
    left: 0;
    display: none;
}

.nav-dots span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 3px;
    background: #cbbfae;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6),
    inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-dots span.nav-dot-current {
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6),
    inset 0 1px 1px rgba(0, 0, 0, 0.1),
    inset 0 0 0 3px #cbbfae,
    inset 0 0 0 8px #fff;
}

.nav-options {
    width: 70px;
    height: 30px;
    position: absolute;
    right: 70px;
    bottom: 0px;
    display: none;
}

.nav-options span {
    width: 30px;
    height: 30px;
    background: #cbbfae url(../images/options.png) no-repeat top left;
    text-indent: -9000px;
    cursor: pointer;
    opacity: 0.7;
    display: inline-block;
    border-radius: 50%;
}

.nav-options span:first-child {
    background-position: -30px 0px;
    margin-right: 3px;
}

.nav-options span:hover {
    opacity: 1;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #C0C0C0;
}

.navbar-brand {
    padding-top: 3px;
}

.tabbing {
    padding: 15px 0;
    background-color: #676767;
}

.page-header {
    color: #696969;
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;

}

header.carousel {
    background-color: #cccccc;
}

.panel-default {
    background-color: #ffffff;
    border: 2px solid #999999;
}

.panel-heading {
    background-color: #ebebeb;
    padding: 0;
    margin: 7px;
    overflow: auto;
    border: 1px solid #d6d6d6;
}

.home-first-header {
    margin-top: 10px;
    padding-bottom: 0;
}

h1.home-first-header, h2.home-second-header {
    font-size: 25px;
    text-transform: uppercase;
}

.home-second-header {
    background-color: #cccccc;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

h4 {
    color: #666666;
}

.mResTabNavTab {
    float: left;
    clear: both;
    min-width: 100%;
}

a.mResTabAccordA {
    min-width: 100%;
}

.tabContainer {
    padding-left: 0;
}

.tabContainer .tabContent {
    border: 1px solid #ccc;
    padding: 20px;
}

.fullwidth {
    width: 100%;
}

.grey-background {
    background-color: #cccccc;
    padding: 30px 0;
}

.tabs-container {
    background-color: #676767;
}

.about-heading {
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 15px 0;
}

#footer-menu {
    display: block;
    float: left;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
}

#footer-menu .footer-li {
    float: left;
    display: block;
}

footer {
    text-align: center;
}

footer #footer-menu {
    display: inline-block;
    float: none;
}

.footer-li {
    margin-right: 45px;
    text-transform: uppercase;
}

.footer-li a {
    color: #666666;
}


.navbar{
    padding:10px 0;
}

.navbar-inverse .navbar-nav > li > a {
    color:#666666;
    text-transform:uppercase;
}

.navbar-inverse .navbar-nav > li > a.active{
    font-style: italic;
    text-decoration: underline;
}


.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #666666;
    text-decoration: underline;
}

.each-girl-masonry{
    position:relative;
}


.masonry-details{
    bottom: 10px;
    left: 0;
    margin-left: 10px;
    position: absolute;
    width: 97%;
    color:#ffffff;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}


.masonry-details-hover{

    background: rgba(0,0,0,0.5);;
}

.details-to-hide{
display:none;
}

.make-visible{
    display:block;
}

.page-description{
    padding:30px 20px;
}

.container-full-width{
overflow: hidden;
    color: #666666;
}

.ccc-background{
    background-color:#CCCCCC;
}

.portfolio-inner-container{
    padding-left:0;
    padding-right:0;
}

#portfolio-filters {
    padding: 15px 10px;
}

#portfolio-filters > li > a::after {
    color: #2d2d2d;
    content: "|";
    padding: 0 10px;
}

#portfolio-filters > li {
display: inline-block;
}

ul#portfolio-filters li a{
    padding: 0;
}

.wp-post-image{
    border: 4px solid #666666;
}